<div class="pf">
    <h1>PROJECT PORTFOLIO</h1>
    <hr>
    <div class="pf__rows">
        <div class="pf__rowCard" style="margin-right: 30px;" >
            <img src='' alt='image' />
            <h2>Project Title</h2>
            <p>Eu turpis egestas pretium aenean. Sed blandit libero volutpat sed cras ornare arcu. Eget dolor morbi non arcu risus. Integer vitae justo eget magna fermentum. Sed turpis tincidunt id aliquet. Dignissim convallis aenean et tortor at.</p>
            <div>
                <button>
                    Go to project
                </button>
                <button>
                    View project repository
                </button>
            </div>
        </div>
        <div class="pf__rowCard">
            <img src='' alt='image' />
            <h2>Project Title</h2>
            <p>Eu turpis egestas pretium aenean. Sed blandit libero volutpat sed cras ornare arcu. Eget dolor morbi non arcu risus. Integer vitae justo eget magna fermentum. Sed turpis tincidunt id aliquet. Dignissim convallis aenean et tortor at.</p>
            <div>
                <button>
                    Go to project
                </button>
                <button>
                    View project repository
                </button>
            </div>
        </div>
    </div>
</div>